.shopsList {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.shop {
  border: 2px solid grey;
  border-radius: 10px;
  /* padding: 20px; */
}

.shopButton {
  background-color: white;
  color: #000;
  padding: 20px;
  width: 100%;
  &:focus {
    background-color: gray;
    color: #000;
    outline: none;
  }
}
